<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute binary:</strong>
  <%= @test1.attribute_binary %>
</p>

<p>
  <strong>Attribute boolean:</strong>
  <%= @test1.attribute_boolean %>
</p>

<p>
  <strong>Attribute date:</strong>
  <%= @test1.attribute_date %>
</p>

<p>
  <strong>Attribute datetime:</strong>
  <%= @test1.attribute_datetime %>
</p>

<p>
  <strong>Attribute decimal:</strong>
  <%= @test1.attribute_decimal %>
</p>

<p>
  <strong>Attribute float:</strong>
  <%= @test1.attribute_float %>
</p>

<p>
  <strong>Attribute integer:</strong>
  <%= @test1.attribute_integer %>
</p>

<p>
  <strong>Attribute reference:</strong>
  <%= @test1.attribute_reference %>
</p>

<p>
  <strong>Attribute string:</strong>
  <%= @test1.attribute_string %>
</p>

<p>
  <strong>Attribute text:</strong>
  <%= @test1.attribute_text %>
</p>

<p>
  <strong>Attribute time:</strong>
  <%= @test1.attribute_time %>
</p>

<%= link_to 'Edit', edit_test1_path(@test1) %> |
<%= link_to 'Back', test1s_path %>
